# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db


# Coverage
htmlcov/
.coverage
.coverage.*

# Migrations
*/migrations/*.pyc
*/migrations/*.py[cod]
*/migrations/__pycache__/

# Environments
.env
.env.*

# Django stuff:
local_settings.py
